<section id="about">
	<div class="container">
		<h2>About</h2>
            <img alt="Logo PowerShell Saturday Munich 2017" class="img-responsive" src="/img/pssat-logo.png" align="center">
            <br>
            <p>The Geman PowerShell Usergroup is proud to present PowerShell Saturday Munich 2017:<p>
            <br>
            <h3>PowerShell meets SQL</h3>
            <br>
            <p>
            Join us for a day full of PowerShell and SQL knowledge from the best speakers in their field of expertise.
            <br>
            <br>
            Expect an action-packed day where PowerShell meets SQL, questions meet great speakers and PowerShell and SQL folks meet each other.
            <br>
            <br><h4>The Best: PowerShell Saturday is completely free for attendees!</h4>
            <bR>To register, head over to our: <a href="https://www.meetup.com/de-DE/German-PowerShell-Usergroup/events/242640672/">meetup page</a>, become a member and RSVP directly on the page.
            <br>
            We will open the doors around 08:30 AM
            <br>
            See you in Munich on December 2nd!
            </p>
    
        </p>
	</div>
</section>
