<section id="venue">
	<div class="container">
        <h2>Venue</h2>
        
        <p>Powershell Saturday Munich 2017 will take place in Microsofts Headquaters in Munich.</p>
        <p>The address is: <br>
           Microsoft<br>
           Walter-Gropius-Str. 5<br>
           80807 München</p>
        <br>
       <!-- taking away picture <div class="photogrid" data-layout="232">
            <img src="{{ "/img/Oktoberfest1.jpg" | prepend: site.baseurl }}" alt="Michael.chlistalla, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=322115">
        </div> -->
    </div>
</section>
