<section id="map">
	<div class="container">
		<!--<h2>{{ site.data.misc[page.lang].map }}</h2>
		

		<div id="venue-map">	
		</div>-->
		
		 
	</div>
	<div id="venue-map">	
	</div>
	<script>function initialize() {
		var uluru = {lat: 48.177804, lng: 11.593659};
		var map = new google.maps.Map(document.getElementById('venue-map'), {
		  zoom: 13,
		  center: uluru
		});
		var marker = new google.maps.Marker({
		  position: uluru,
		  map: map
		});
	  }
	</script>
			<script async defer
			src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCu4ThQjdkRi7vTlNAUoxI5WMQGxwt6rkU&callback=initialize">
			</script> -->

<div>
	<iframe width="500" height="400" frameborder="0" src="https://www.bing.com/maps/embed?h=400&w=500&cp=48.177381999999994~11.593677999999991&lvl=13&typ=d&sty=r&src=SHELL&FORM=MBEDV8" scrolling="no">
	</iframe>
	<div style="white-space: nowrap; text-align: center; width: 500px; padding: 6px 0;">
	   <a id="largeMapLink" href="https://www.bing.com/maps?cp=48.177381999999994~11.593677999999991&amp;sty=r&amp;lvl=13&amp;FORM=MBEDLD" target="_blank">Größere Karte anzeigen</a>
		   &nbsp; | &nbsp;
		   <a id="dirMapLink" href="https://www.bing.com/maps/directions?cp=48.177381999999994~11.593677999999991&amp;sty=r&amp;lvl=13&amp;rtp=~pos.48.177381999999994_11.593677999999991____&amp;FORM=MBEDLD" target="_blank">Wegbeschreibung abrufen</a>
   </div>
</div>

</section>