<section id="sponsors">
    <div class="container">
        <h2>Sponsors</h2>
        <h3>If you want to sponsor PowerShell Saturday, contact us via mail: info[at]powershell-ug.com</h3>
        <div class="row">
            {% for sponsor in site.data.sponsors.sponsors %}
            <div class="col-md-{{ site.data.sponsors.col_md }} col-sm-{{ site.data.sponsors.col_sm }} col-xs-{{ site.data.sponsors.col_xs }}">
                <center>

                <a href="{{ sponsor.url }}">
                    <img alt="logo" class="img-responsive" src="{{ sponsor.img | prepend: site.baseurl }}">
                </a><br>

                </center>
            </div>
            {% endfor %}
        </div>
    </div>
</section>